* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    padding: 0px;
}


#container {
    margin-left:auto;
    margin-right:auto;
    top: 100px;
    /* left: 170px; */
    width: 1080px;
    height: 607.5px;
    border: 0px solid #333;
    overflow: hidden;
    position: relative;
    /*  ???  */
}

#list {
    width: 7560px;
    height: 607.5px;
    position: absolute;
    z-index: 1;
}

#list img {
    float: left;
}


#buttons {
    
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left: 46%;
    /* margin-left:auto;
    margin-right:auto; */
}

#buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 5px;
}

#buttons .on {
    background: orangered;
}

.arrow {
    cursor: pointer;
    display: none;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 280px;
    background-color: RGBA(0, 0, 0, .3);
    color: #fff;
}

.arrow :hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

.img {
    width: 1080px;
    height: 607.5px;
}